header.header
  a.logo-link(href=`${currentPage === 'home' ? '#' : process.env.URLWEBSITE}`)
    img.logo-img(src=`${process.env.IMAGESFOLDER}/logo-community.png`)
  nav.navbar
    a(
      class=`${currentPage === 'home' || currentPage === 'post-list' ? 'navbar-item active' : 'navbar-item'}`,
      href=`${currentPage === 'home' || currentPage === 'post-list' ? '#' : process.env.URLWEBSITE}`) Home
    a(
      class=`${currentPage === 'login' ? 'navbar-item active' : 'navbar-item'}`,
      href=`${currentPage === 'login' ? '#' : `${process.env.URLWEBSITE}/auth/login`}`) Log in
    a(
      class=`${currentPage === 'signup' ? 'navbar-item active' : 'navbar-item'}`,
      href=`${currentPage === 'signup' ? '#' : `${process.env.URLWEBSITE}/auth/signup`}`) Sign up
    a(
      class=`${currentPage === 'post-form' ? 'navbar-item-post active' : 'navbar-item-post'}`,
      href=`${currentPage === 'post-form' ? '#' : `${process.env.URLWEBSITE}/posts/new`}`) New post
