script(src=`${process.env.JSFOLDER}/profile.js`) 
div.profile-container
  form#form-img-profile.profile-img-container(
    action='/users/update/image',
    method='post',
    enctype='multipart/form-data')
    input#input-avatar(type='file', name='avatar')
    img(src=user.avatar)
  div.profile-name-container
    p= `${user.username} (${user.local.email})`
  div.profile-infos-container
    div.profile-infos-posts-container
      p
        strong Posts
        br
        span.text-primary= posts && posts.length ? posts.length : '-'
        //- posts.length === 0 ? 0 : posts.length
    div.profile-infos-posts-container
      p
        strong Following
        br
        span.text-primary -
