script(src=`${process.env.JSFOLDER}/profile.js`) 
div.profile-container
  form#form-img-profile.profile-img-container(
    action='/users/update/image',
    method='post',
    enctype='multipart/form-data')
    input#input-avatar(type='file', name='avatar')
    img(src=`${process.env.IMAGESFOLDER}/default-profile.jpg`)
  div.profile-name-container
    p= `${currentUser.username} (${currentUser.local.email})`
  div.profile-infos-container
    div.profile-infos-posts-container
      p
        strong Posts
        br
        span.text-primary= posts.length
    div.profile-infos-posts-container
      p
        strong Following
        br
        span.text-primary -
